<div class="page-wrapper">

    <!-- Navbar -->


    <!-- Main Content Wrapper -->
    <main class="content-wrapper">

      <!-- Featured Image -->
      <div class="featured-image" style="background-image: url(img/featured-image/account.jpg);"></div>

      <!-- Content -->
      <section class="container padding-top-3x padding-bottom-2x">
        <h1 class="mobile-center">Hey, <span class="text-semibold"><%= current_user.email %></span></h1>
        <div class="row padding-top">
          <div class="col-sm-9 padding-bottom-2x">
            <!-- Nav Tabs -->
            <ul class="nav-tabs mobile-center" role="tablist">
              <li class="active"><a href="#profile" role="tab" data-toggle="tab">
                <i class="material-icons person"></i>
                Profile
              </a></li>
              <li><a href="#orders" role="tab" data-toggle="tab">
                <i class="material-icons shopping_cart"></i>
                Orders (3)
              </a></li>
              
            </ul><!-- .nav-tabs -->

            <!-- Tab Panes -->
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane transition fade scale in active" id="profile">
                <h2>Edit <%= resource_name.to_s.humanize %></h2>

        
                <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
                <%= devise_error_messages! %>
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="form-element">
                         <%= f.label :email %><br />
                        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-element">
                        <label for="current_password">Current password <i>(if you want to change password)</i></label><br/>
                        <%= f.password_field :current_password, autocomplete: "off", class: "form-control" %>
                        
                        
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="form-element">
                        <label for="password">Password <i>(leave blank if you don't want to change it)</i></label>
                        <% if @minimum_password_length %>
            
                        <em><%= @minimum_password_length %> characters minimum</em>
                        <br />
                        <% end %>
                        <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
                        
                        
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-element">
                        <%= f.label :password_confirmation %><br />
                        <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
                        
                      </div>
                    </div>
                  </div>
                  
                  <div class="row">
                    
                    <div class="col-sm-offset-6 col-sm-6 text-right mobile-center">                      
                      <button type="submit" name="commit" value="Update" data-disable-with="Update" class="btn btn-primary waves-effect waves-light">Update Profile</button>
                    </div>
                  </div>
                 <% end %>
                 <hr/>
                 <div class="row">
                   <div class=" col-sm-6  mobile-center">
                     <h3>Cancel my account</h3>

                        <p>Unhappy with our website? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

                       
                   </div>
                 </div>
              </div><!-- .tab-pane#profile -->

              <div role="tabpanel" class="tab-pane transition fade scale" id="orders">
                <div class="table-responsive">
                  <table>
                    <thead>
                      <tr>
                        <th>Order #</th>
                        <th>Date Purchased</th>
                        <th>Status</th>
                        <th>Total</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td><a href="#">31719DA0567</a></td>
                        <td>December 06, 2016</td>
                        <td><span class="text-warning">In Progress</span></td>
                        <td>$1,350.00</td>
                      </tr>
                      <tr>
                        <td><a href="#">22018770CV7</a></td>
                        <td>November 11, 206</td>
                        <td><span class="text-danger">Canceled</span></td>
                        <td>$475.60</td>
                      </tr>
                      <tr>
                        <td><a href="#">4B33FG45520</a></td>
                        <td>September 23, 2016</td>
                        <td><span class="text-success">Delivered</span></td>
                        <td>$2,140.80</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div><!-- .tab-pane#orders -->

              
            </div><!-- .tab-content -->
          </div><!-- .col-sm-8 -->

          <!-- Sidebar -->
          <div class="col-sm-3 padding-bottom-2x">
            <aside class="mobile-center">
              <h3>Your reward points:</h3>
              <h3><span class="text-semibold">1356</span> <span class="h5">points</span></h3>
              <p class="text-sm text-gray">You can spend these points on products from our shop catalog, to reduce shipping cost, etc.</p>
              <a href="shop-sidebar-left.html" class="btn btn-default btn-ghost icon-left btn-block">
                <i class="material-icons arrow_back"></i>
                Go to Shop
              </a>
              <a href="#" class="btn btn-primary btn-block waves-effect waves-light space-top-none">Get more points</a>
            </aside>
          </div><!-- .col-sm-4 -->
        </div><!-- .row -->
      </section><!-- .container -->


    <!-- Subscribe Popup -->
    <div class="subscribe-popup-wrap">
      <div class="inner">
        <div class="subscribe-popup">
          <a href="#" class="close-btn"><i class="material-icons close"></i></a>
          <h3 class="widget-title">
            Subscription
            <small>To receive latest offers and discounts from the shop.</small>
          </h3>
          <form action="//rokaux.us12.list-manage.com/subscribe/post?u=c7103e2c981361a6639545bd5&amp;id=1194bb7544" method="post" target="_blank" class="subscribe-form" novalidate>
            <input type="email" class="form-control" name="EMAIL" placeholder="Your e-mail">
            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_c7103e2c981361a6639545bd5_1194bb7544" tabindex="-1" value=""></div>
            <button type="submit"><i class="material-icons send"></i></button>
          </form>
        </div>
      </div>
    </div><!-- .subscribe-popup -->
    <div class="subscribe-backdrop"></div>
  <!-- .page-wrapper -->




