  <!-- Page Wrapper -->
<div class="page-wrapper">    

<main class="content-wrapper">

  <!-- Container -->
  <section class="container padding-top-3x padding-bottom">

    <h1 class="space-top-half">Shopping Cart</h1>
    <div class="row padding-top">

      <!-- Cart -->
      <div class="col-sm-8 padding-bottom-2x">
        <p class="text-sm">
          <span class="text-gray">Currently</span> <%= @itemcount %> items
          <span class="text-gray"> in cart</span>
        </p>
        <div class="shopping-cart">
          <!-- Item -->

      <% @cartcontent.each do |sitem| %>

      <div class="item">
          <img src="<%= (Item.find_by id: sitem.item_id).img_url %>" alt="Item" style="width: 140px; height: auto;">
        </a>
        <div class="item-details">
          <h3 class="item-title"><a href="<%= item_path(sitem.item_id) %>"><%= (Item.find_by id: sitem.item_id).title %></a></h3>
          <h4 class="item-price"><%= (Item.find_by id: sitem.item_id).price %></h4>
          <div class="count-input">
            <a class="incr-btn" data-action="decrease" href="<%= rm_from_cart_path(sitem.item_id)%>" data-remote="true" data-method="get">–</a>
            <input class="quantity" type="text" value="<%= sitem.quantity %>">
            <a class="incr-btn" data-action="increase" href="<%= add_to_cart_path(sitem.item_id)%>" data-remote="true" data-method="get">+</a>
          </div>
        </div>
        <a href="<%= dl_from_cart_path(sitem.item_id)%>" data-remote="true" data-method="delete" class="item-remove" data-toggle="tooltip" data-placement="top" title="Remove">
          <i class="material-icons remove_shopping_cart"></i>
        </a>
      </div>
      
      <% end %>
    </div>
  </div>

      <div class="col-md-3 col-md-offset-1 col-sm-4 padding-bottom-2x">
        <aside>
          <h3 class="toolbar-title">Cart subtotal:</h3>
          <h4 class="amount"><%= @subtotal %></h4>
          <p class="text-sm text-gray">* Note: This amount does not include costs for international shipping. You will be able to calculate shipping costs on checkout.</p>
          <a href="#" class="btn btn-default btn-block waves-effect waves-light">Update Cart</a>
          <a href="checkout.html" class="btn btn-primary btn-block waves-effect waves-light space-top-none">Checkout</a>
        </aside>
      </div>


</div>
</section>
