<div class="page-wrapper">


   
  <main class="content-wrapper">


      <!-- Hero Slider -->
      <!-- Data API:
        data-loop="true/false" enable/disable looping
        data-autoplay="true/false" enable/disable carousel autoplay
        data-interval="3000" autoplay interval timeout in miliseconds
        Simply add necessary data attribute to the ".hero-carousel" with appropriate value to adjust carousel functionality.
       -->
      <section class="hero-slider" data-loop="true" data-autoplay="true" data-interval="7000">
        <div class="inner">
          <div class="slide" style="background-image: url(img/hero-slider/01.jpg);">
            <div class="container">
              <div class="absolute from-top" style="top: 13%;">
                <span class="h1 hidden-xs">New SPA<br>Cosmetics</span>
              </div>
              <div class="absolute text-right from-bottom" style="bottom: 13%; right: 15px;">
                <span class="h2"><span class="text-thin">Only</span><br><strong>$127.99</strong></span><br>
                <a href="#" class="btn btn-primary btn-with-icon-right waves-effect waves-light space-top-none">
                  View Offer
                  <i class="material-icons arrow_forward"></i>
                </a>
              </div>
            </div>
          </div><!-- .slide -->
          <div class="slide" style="background-image: url(img/hero-slider/02.jpg);">
            <div class="container text-center padding-top-3x">
              <span class="h1 from-bottom">Stylish Chair</span><br>
              <span class="h2 from-bottom"><span class="text-thin">Special offer: </span> <strong>-25%</strong></span><br>
              <a href="#" class="btn btn-primary btn-with-icon-right waves-effect waves-light scale-up">
                View Offer
                <i class="material-icons arrow_forward"></i>
              </a>
            </div>
          </div><!-- .slide -->
          <div class="slide" style="background-image: url(img/hero-slider/03.jpg);">
            <div class="container padding-top-3x">
              <span class="h1 space-top from-left">Dior Sunglasses</span><br>
              <span class="h2 from-right"><span class="text-thin">Only <span class="hidden-xs">today</span></span> <strong>-30%</strong></span><br>
              <a href="#" class="btn btn-primary btn-with-icon-right waves-effect waves-light scale-up">
                View Offer
                <i class="material-icons arrow_forward"></i>
              </a>
            </div>
          </div><!-- .slide -->
        </div><!-- .inner -->
      </section>
      <!-- Content Wide -->
      <section class="container-fluid padding-top-3x">

        <!-- Featured Categories -->
        <h3 class="text-center padding-top">Categories</h3>
        <div class="row padding-top padding-bottom-3x">
          <div class="col-sm-3 col-xs-6">
            <a href="#" class="category-link">
              <img src="img/categories/cat01.jpg" alt="Category">
              Clocks
            </a><!-- .category-link -->
          </div><!-- .col-sm-4 -->
          <div class="col-sm-3 col-xs-6">
            <a href="#" class="category-link">
              <img src="img/categories/cat02.jpg" alt="Category">
              Furniture
            </a><!-- .category-link -->
          </div><!-- .col-sm-4 -->
          <div class="col-sm-3 col-xs-6">
            <a href="#" class="category-link">
              <img src="img/categories/cat03.jpg" alt="Category">
              Lightning
            </a><!-- .category-link -->
          </div><!-- .col-sm-4 -->
          <div class="col-sm-3 col-xs-6">
            <a href="#" class="category-link">
              <img src="img/categories/cat04.jpg" alt="Category">
              Bags
            </a><!-- .category-link -->
          </div><!-- .col-sm-4 -->
        </div><!-- .row -->

        <div class="row padding-top">

          <!-- Products -->
          <div class="col-sm-12">
            <!-- Nav Tabs -->
            <ul class="nav-tabs text-center" role="tablist">
              <li class="active"><a href="#newcomers" role="tab" data-toggle="tab">New Arrivals</a></li>
              <li><a href="#toprated" role="tab" data-toggle="tab">Top Rated</a></li>
              <li><a href="#onsale" role="tab" data-toggle="tab">On Sale</a></li>
            </ul><!-- .nav-tabs -->

            <!-- Tab Panes -->
              <div role="tabpanel" class="tab-pane transition fade scale in active" id="newcomers">
                <div class="row space-top-half">
    <% @items.each do |item| %> 

    <div class="col-lg-3 col-sm-6">
      <div class="shop-item">
        <div class="shop-thumbnail">
          <a href="<%= item_path(item)%>" class="item-link"></a>
          <img src="<%= item.img_url %>" alt="Shop item">
          <div class="shop-item-tools">
            <a href="#" class="add-to-whishlist" data-toggle="tooltip" data-placement="top" title="Wishlist">
              <i class="material-icons favorite_border"></i>
            </a>
            <a href="<%= cart_path($cart) %>" class="add-to-cart">
              <em>Add to Cart</em>
              <svg x="0px" y="0px" width="32px" height="32px" viewBox="0 0 32 32">
    						<path stroke-dasharray="19.79 19.79" stroke-dashoffset="19.79" fill="none" stroke="#FFFFFF" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" d="M9,17l3.9,3.9c0.1,0.1,0.2,0.1,0.3,0L23,11"/>
    					</svg>
            </a>
          </div>
        </div>
        <div class="shop-item-details">
          <h3 class="shop-item-title"><a href="item_path(item)"><%= item.title %></a></h3>
          <span class="shop-item-price">
            <%= item.price %>
          </span>
        </div>
      </div>
    </div>

    <br>

  <% end %>
</div>
</div>

</div>
</div>
</section>
 <!-- Footer -->
      
